body {
  background-color: #0e0b16;
  background-image: url(../Img/bg1.jpg);
  background-attachment:fixed;
  max-height:100%;
  max-width:100%;
}

.myul{
  -moz-column-count: 2;
  -webkit-column-count: 2;
  column-count: 2;
  -webkit-column-gap: 60px; /* Chrome, Safari, Opera */
  -moz-column-gap: 60px; /* Firefox */
  column-gap: 60px;
  list-style-type: none;
  text-indent:-70px;
  margin-left:70px;

}






.name{
  margin-left: 20px;
  font-family: 'Lobster';
  font-size: 35px;
}

.picname{
  font-family: 'Comfortaa', cursive;
}
.heading{
  font-family: 'Fredoka One', cursive;
}

.context-dark, .bg-gray-dark, .bg-primary {
    color: rgba(255, 255, 255, 0.8);
}

.footer-classic a, .footer-classic a:focus, .footer-classic a:active {
    color: #ffffff;
}
.nav-list li {
    padding-top: 5px;
    padding-bottom: 5px;
}

.nav-list li a:hover:before {
    margin-left: 0;
    opacity: 1;
    visibility: visible;
}

 ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

.social-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 23px;
    font: 900 13px/1 "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.5);

}
.social-container .col {
    border: 1px solid rgba(255, 255, 255, 0.1);
}
.nav-list li a:before {
    content: "\f14f";
    font: 400 21px/1 "Material Design Icons";
    color: #4d6de6;
    display: inline-block;
    vertical-align: baseline;
    margin-left: -28px;
    margin-right: 7px;
    opacity: 0;
    visibility: hidden;
    transition: .22s ease;
}

.footerbor{
  padding-top: 30px;
}



.abc{
  height:300px;
  width:300px;
}